*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container-form :nth-child(6) {
  grid-column: 3 span;
}
button {
  background: transparent;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
}

.forms {
  padding: 10px;
  position: relative;
  height: 140px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.forms button {
  position: absolute;
  bottom: 10px;
}

.forms input {
  margin: 5px 0;
}

#formList {
  display: flex;
}

#fileList {
    position: relative;
  margin: 20px 0;
  padding: 10px;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.deleteButton {
  color: rgb(219, 22, 22);
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}
